
src/apis/users/.vs/CCubAPI/FileContentIndex/9a6a265a-bf4c-4e04-813f-e7be32a85872.vsidx
src/apis/users/.vs/CCubAPI/FileContentIndex/read.lock
src/apis/users/obj/CCubAPI.csproj.nuget.dgspec.json
src/apis/users/obj/CCubAPI.csproj.nuget.g.props
src/apis/users/obj/CCubAPI.csproj.nuget.g.targets
src/apis/users/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/apis/users/obj/Debug/net6.0/CCubAPI.AssemblyInfo.cs
src/apis/users/obj/Debug/net6.0/CCubAPI.AssemblyInfoInputs.cache
src/apis/users/obj/Debug/net6.0/CCubAPI.assets.cache
src/apis/users/obj/Debug/net6.0/CCubAPI.csproj.AssemblyReference.cache
src/apis/users/obj/Debug/net6.0/CCubAPI.GeneratedMSBuildEditorConfig.editorconfig
src/apis/users/obj/Debug/net6.0/CCubAPI.GlobalUsings.g.cs
src/apis/users/obj/Debug/net6.0/CCubAPI.RazorAssemblyInfo.cache
src/apis/users/obj/Debug/net6.0/CCubAPI.RazorAssemblyInfo.cs
src/apis/users/obj/project.assets.json
src/apis/users/obj/project.nuget.cache
*.vsidx
*.v2
