
src/apis/users/.vs/CCubAPI/FileContentIndex/9a6a265a-bf4c-4e04-813f-e7be32a85872.vsidx
src/apis/users/.vs/CCubAPI/FileContentIndex/read.lock
src/apis/users/obj/CCubAPI.csproj.nuget.dgspec.json
src/apis/users/obj/CCubAPI.csproj.nuget.g.props
src/apis/users/obj/CCubAPI.csproj.nuget.g.targets
src/apis/users/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/apis/users/obj/Debug/net6.0/CCubAPI.AssemblyInfo.cs
src/apis/users/obj/Debug/net6.0/CCubAPI.AssemblyInfoInputs.cache
src/apis/users/obj/Debug/net6.0/CCubAPI.assets.cache
src/apis/users/obj/Debug/net6.0/CCubAPI.csproj.AssemblyReference.cache
src/apis/users/obj/Debug/net6.0/CCubAPI.GeneratedMSBuildEditorConfig.editorconfig
src/apis/users/obj/Debug/net6.0/CCubAPI.GlobalUsings.g.cs
src/apis/users/obj/Debug/net6.0/CCubAPI.RazorAssemblyInfo.cache
src/apis/users/obj/Debug/net6.0/CCubAPI.RazorAssemblyInfo.cs
src/apis/users/obj/project.assets.json
src/apis/users/obj/project.nuget.cache
*.vsidx
*.v2
/.vs
/src/apis/microsite/Culturecubs.Microsite.DataAccess/bin/Debug/net6.0
/src/apis/microsite/Culturecubs.Microsite.DataAccess/obj
/src/apis/microsite/Culturecubs.Microsite.Functions/.vs
/src/apis/microsite/Culturecubs.Microsite.Functions/bin/Debug/net6.0
/src/apis/microsite/Culturecubs.Microsite.Functions/obj
/src/apis/users/.vs
/src/apis/users/obj/Release/net6.0
/src/apis/microsite/.vs/Culturecubs.Microsite.Functions/FileContentIndex/read.lock
src/apis/microsite/.vs/Culturecubs.Microsite.Functions/v17/.suo
/src/apis/microsite/Culturecubs.Microsite.DataAccess/appsettings.json
/src/apis/microsite/Culturecubs.Microsite.Functions/local.settings.json
/src/apis/microsite/.vs/ProjectEvaluation
/src/apis/users/bin/Debug/net6.0
/src/apis/users/obj/Debug/net6.0/ref
/src/apis/users/obj/Debug/net6.0/refint
/src/apis/users/obj/Debug/net6.0/staticwebassets
/src/apis/users/obj/Debug/net6.0
/src/apis/users/appsettings.json
/src/apis/tenant_user/Culturecubs.TenantAndUser.DataAccess/bin/Debug/net6.0
/src/apis/tenant_user/Culturecubs.TenantAndUser.DataAccess/obj
/src/apis/tenant_user/CultureCubs.TenantAndUser.Functions/.vs/CultureCubs.TenantAndUser.Functions
src/apis/tenant_user/.vs/CultureCubs.TenantAndUser.Functions/v17/.suo
src/apis/tenant_user/.vs/CultureCubs.TenantAndUser.Functions/FileContentIndex/read.lock
src/client/microsite/app/__azurite_db_queue__.json
src/client/microsite/app/__azurite_db_queue_extent__.json
src/apis/tenant_user/.vs/ProjectEvaluation/culturecubs.tenantanduser.functions.metadata.v6.1
src/apis/tenant_user/.vs/ProjectEvaluation/culturecubs.tenantanduser.functions.projects.v6.1
src/apis/tenant_user/CultureCubs.TenantAndUser.Functions/.vs/ProjectEvaluation/culturecubs.tenantanduser.functions.metadata.v6.1
src/apis/tenant_user/CultureCubs.TenantAndUser.Functions/.vs/ProjectEvaluation/culturecubs.tenantanduser.functions.projects.v6.1
/src/apis/ContentManagement/.vs/ContentManagement
/src/apis/ContentManagement/bin/Debug/net6.0
/src/apis/ContentManagement/obj
/src/apis/ContentManagement/ContentManagement.csproj.user
/src/apis/ContentManagement/.vs/ProjectEvaluation/contentmanagement.projects.v6.1
/src/apis/ContentManagement/.vs/ProjectEvaluation/contentmanagement.metadata.v6.1
/src/.vs
/src/apis/ContentManagement/.vs/ProjectEvaluation
/src/apis/ContentManagement/appsettings.Development.json
/src/apis/ContentManagement/appsettings.json
/.github/workflows/api-contentmgt-dev-0011.yml
*.user
src/apis/ContentManagement/Properties/serviceDependencies.api-contentmgt-dev-001.json
src/apis/ContentManagement/Properties/serviceDependencies.api-contentmgt-dev-0011.json
src/apis/ContentManagement/Properties/serviceDependencies.json
src/apis/ContentManagement/Properties/ServiceDependencies/api-contentmgt-dev-001/apis1.arm.json
src/apis/ContentManagement/Properties/ServiceDependencies/api-contentmgt-dev-0011/apis1.arm.json
src/client/microsite/.vscode/launch.json
src/apis/.vs/apis/v17/.wsuo
src/apis/.vs/apis/v17/workspaceFileList.bin
src/apis/.vs/slnx.sqlite
src/apis/.vs/VSWorkspaceState.json
src/apis/microsite/.vs/microsite/v17/.wsuo
src/apis/microsite/.vs/slnx.sqlite
src/apis/microsite/.vs/VSWorkspaceState.json
src/apis/tenant_user/.vs/ProjectEvaluation/culturecubs.tenantanduser.functions.metadata.v7.bin
src/apis/tenant_user/.vs/ProjectEvaluation/culturecubs.tenantanduser.functions.projects.v7.bin
