
src/apis/users/.vs/CCubAPI/FileContentIndex/9a6a265a-bf4c-4e04-813f-e7be32a85872.vsidx
src/apis/users/.vs/CCubAPI/FileContentIndex/read.lock
src/apis/users/obj/CCubAPI.csproj.nuget.dgspec.json
src/apis/users/obj/CCubAPI.csproj.nuget.g.props
src/apis/users/obj/CCubAPI.csproj.nuget.g.targets
src/apis/users/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/apis/users/obj/Debug/net6.0/CCubAPI.AssemblyInfo.cs
src/apis/users/obj/Debug/net6.0/CCubAPI.AssemblyInfoInputs.cache
src/apis/users/obj/Debug/net6.0/CCubAPI.assets.cache
src/apis/users/obj/Debug/net6.0/CCubAPI.csproj.AssemblyReference.cache
src/apis/users/obj/Debug/net6.0/CCubAPI.GeneratedMSBuildEditorConfig.editorconfig
src/apis/users/obj/Debug/net6.0/CCubAPI.GlobalUsings.g.cs
src/apis/users/obj/Debug/net6.0/CCubAPI.RazorAssemblyInfo.cache
src/apis/users/obj/Debug/net6.0/CCubAPI.RazorAssemblyInfo.cs
src/apis/users/obj/project.assets.json
src/apis/users/obj/project.nuget.cache
*.vsidx
*.v2
/.vs
/src/apis/microsite/Culturecubs.Microsite.DataAccess/bin/Debug/net6.0
/src/apis/microsite/Culturecubs.Microsite.DataAccess/obj
/src/apis/microsite/Culturecubs.Microsite.Functions/.vs
/src/apis/microsite/Culturecubs.Microsite.Functions/bin/Debug/net6.0
/src/apis/microsite/Culturecubs.Microsite.Functions/obj
/src/apis/users/.vs
/src/apis/users/obj/Release/net6.0
/src/apis/microsite/.vs/Culturecubs.Microsite.Functions/FileContentIndex/read.lock
src/apis/microsite/.vs/Culturecubs.Microsite.Functions/v17/.suo
/src/apis/microsite/Culturecubs.Microsite.DataAccess/appsettings.json
/src/apis/microsite/Culturecubs.Microsite.Functions/local.settings.json
/src/apis/microsite/.vs/ProjectEvaluation
/src/apis/users/bin/Debug/net6.0
/src/apis/users/obj/Debug/net6.0/ref
/src/apis/users/obj/Debug/net6.0/refint
/src/apis/users/obj/Debug/net6.0/staticwebassets
/src/apis/users/obj/Debug/net6.0
